.button {
    line-height: .3rem;
    display: block;
    box-sizing: border-box;
    width: 1rem;
    padding: 0;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: #666;
    border: .01rem #d9d9d9 solid;
    border-radius: .06rem;
    background-color: #f4f4f4;
    touch-action: manipulation;
    transition: all .1s ease;
}
.button i,
.disabled i {
    margin-right: .04rem;
}
.button:active {
    color: #38acff;
    border-color: #38acff;
    background-color: #fff;
}
.ghost {
    color: #666;
    background-color: #fff;
    composes: button;
}
.primary {
    color: #fff;
    border: .01rem #2db7f5 solid;
    background-color: #2db7f5;
    composes: button;
}
.primary:hover, .primary:active {
    color: rgba(255, 255, 255, .9);
    background-color: rgba(45, 183, 245, .8);
}
.disabled {
    line-height: .3rem;
    display: block;
    box-sizing: border-box;
    width: 1rem;
    padding: 0;
    text-align: center;
    text-decoration: none;
    border: .01rem #d9d9d9 solid;
    border-radius: .06rem;
    background-color: #f4f4f4;
    cursor: not-allowed;
    color: #d9d9d9;
}
@keyframes myChange {
    0% {
        color: #666;
        border-color: #d9d9d9;
        background-color: #f9f9f9;
    }
    100% {
        color: #38acff;
        border-color: #38acff;
        background-color: #fff;
    }
}

/*rgba(45,183,245,.8)*/
