$blue-6: #108ee9;
$purple-6: #7265E6;
$cyan-6: #00A2AE;
$green-6: #00A854;
$pink-6: #f5317f;
$red-6: #F04134;
$orange-6: #F56A00;
$yellow-6: #ffbf00;

$blue-1: lighten($blue-6, 25%);
$blue-2: lighten($blue-6, 20%);
$blue-3: lighten($blue-6, 15%);
$blue-4: lighten($blue-6, 10%);
$blue-5: lighten($blue-6, 5%);
$blue-7: darken($blue-6, 5%);
$blue-8: darken($blue-6, 10%);
$blue-9: darken($blue-6, 15%);

$purple-1: lighten($purple-6, 25%);
$purple-2: lighten($purple-6, 20%);
$purple-3: lighten($purple-6, 15%);
$purple-4: lighten($purple-6, 10%);
$purple-5: lighten($purple-6, 5%);
$purple-7: darken($purple-6, 5%);
$purple-8: darken($purple-6, 10%);
$purple-9: darken($purple-6, 15%);

$cyan-1: lighten($cyan-6, 25%);
$cyan-2: lighten($cyan-6, 20%);
$cyan-3: lighten($cyan-6, 15%);
$cyan-4: lighten($cyan-6, 10%);
$cyan-5: lighten($cyan-6, 5%);
$cyan-7: darken($cyan-6, 5%);
$cyan-8: darken($cyan-6, 10%);
$cyan-9: darken($cyan-6, 15%);

$green-1: lighten($green-6, 25%);
$green-2: lighten($green-6, 20%);
$green-3: lighten($green-6, 15%);
$green-4: lighten($green-6, 10%);
$green-5: lighten($green-6, 5%);
$green-7: darken($green-6, 5%);
$green-8: darken($green-6, 10%);
$green-9: darken($green-6, 15%);

$pink-1: lighten($pink-6, 25%);
$pink-2: lighten($pink-6, 20%);
$pink-3: lighten($pink-6, 15%);
$pink-4: lighten($pink-6, 10%);
$pink-5: lighten($pink-6, 5%);
$pink-7: darken($pink-6, 5%);
$pink-8: darken($pink-6, 10%);
$pink-9: darken($pink-6, 15%);

$red-1: lighten($red-6, 25%);
$red-2: lighten($red-6, 20%);
$red-3: lighten($red-6, 15%);
$red-4: lighten($red-6, 10%);
$red-5: lighten($red-6, 5%);
$red-7: darken($red-6, 5%);
$red-8: darken($red-6, 10%);
$red-9: darken($red-6, 15%);

$orange-1: lighten($orange-6, 25%);
$orange-2: lighten($orange-6, 20%);
$orange-3: lighten($orange-6, 15%);
$orange-4: lighten($orange-6, 10%);
$orange-5: lighten($orange-6, 5%);
$orange-7: darken($orange-6, 5%);
$orange-8: darken($orange-6, 10%);
$orange-9: darken($orange-6, 15%);

$yellow-1: lighten($yellow-6, 25%);
$yellow-2: lighten($yellow-6, 20%);
$yellow-3: lighten($yellow-6, 15%);
$yellow-4: lighten($yellow-6, 10%);
$yellow-5: lighten($yellow-6, 5%);
$yellow-7: darken($yellow-6, 5%);
$yellow-8: darken($yellow-6, 10%);
$yellow-9: darken($yellow-6, 15%);
