@import "./colors.scss";

// Color
$normal-color           : #d9d9d9;

// ------ Base & Require ------
$body-background        : #fff;
$component-background   : #fff;
$font-family            : -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
$code-family            : Consolas, Menlo, Courier, monospace;
$heading-color          : rgba(#000, .75);
$text-color             : rgba(#000, .65);
$text-color-secondary   : rgba(#000, .43);
$disabled-color         : rgba(#000, .25);
$heading-color-dark     : rgba(#fff, .97);
$text-color-dark        : rgba(#fff, .91);
$text-color-secondary-dark: rgba(#fff, .67);
$disabled-color-dark    : rgba(#fff, .35);
$font-size-base         : 12px;
$font-size-large        : $font-size-base + 2px;
$line-height-base       : 1.5;
$border-radius-base     : 4px;
$border-radius-small    : 2px;

// LINK
$link-hover-decoration  : none;

// Border color
$border-color-base      : #d9d9d9;        // base border outline a component
$border-color-split     : #e9e9e9;        // split border inside a component

// Outline
$outline-blur-size      : 0;
$outline-width          : 2px;

// Background color
$background-color-base  : #f7f7f7;        // basic gray background

// Shadow
$box-shadow-base		: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
$shadow-color           : rgba(0, 0, 0, .2);
$shadow-1-up            : 0 -1px 6px $shadow-color;
$shadow-1-down          : 0 1px 6px $shadow-color;
$shadow-1-left          : -1px 0 6px $shadow-color;
$shadow-1-right         : 1px 0 6px $shadow-color;
$shadow-2               : 0 2px 8px $shadow-color;

// Buttons
$btn-font-weight        : 500;
$btn-border-radius-base : $border-radius-base;
$btn-border-radius-small   : $border-radius-small;

$btn-primary-color      : #fff;

$btn-default-color      : $text-color;
$btn-default-bg         : $background-color-base;
$btn-default-border     : $border-color-base;

$btn-ghost-color        : $text-color;
$btn-ghost-bg           : transparent;
$btn-ghost-border       : $border-color-base;

$btn-disable-color      : $disabled-color;
$btn-disable-bg         : $background-color-base;
$btn-disable-border     : $border-color-base;

$btn-padding-base       : 4px 15px;
$btn-font-size-large    : $font-size-large;
$btn-padding-large      : 4px 15px 5px 15px;
$btn-padding-small      : 1px 7px;

$btn-circle-size        : 28px;
$btn-circle-size-large  : 32px;
$btn-circle-size-small  : 22px;

// z-index list
$zindex-affix           : 10;
$zindex-back-top        : 10;
$zindex-modal-mask      : 1000;
$zindex-modal           : 1000;
$zindex-notification    : 1010;
$zindex-message         : 1010;
$zindex-popover         : 1030;
$zindex-menu	        : 1050;
$zindex-picker          : 1050;
$zindex-dropdown        : 1050;
$zindex-tooltip         : 1060;
