:global(.slide-up-enter),
:global(.slide-up-appear) {
  -webkit-animation-duration: .2s;
          animation-duration: .2s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  opacity: 0;
  -webkit-animation-timing-function: cubic-bezier(0.08, 0.82, 0.17, 1);
          animation-timing-function: cubic-bezier(0.08, 0.82, 0.17, 1);
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}
:global(.slide-up-leave ){
  -webkit-animation-duration: .2s;
          animation-duration: .2s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  opacity: 1;
  -webkit-animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.34);
          animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.34);
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}
:global(.slide-up-enter.slide-up-enter-active.select-dropdown-placement-bottomLeft),
:global(.slide-up-appear.slide-up-appear-active.select-dropdown-placement-bottomLeft) {
  -webkit-animation-name: rcSelectDropdownSlideUpIn;
          animation-name: rcSelectDropdownSlideUpIn;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}
:global(.slide-up-leave.slide-up-leave-active.select-dropdown-placement-bottomLeft) {
  -webkit-animation-name: rcSelectDropdownSlideUpOut;
          animation-name: rcSelectDropdownSlideUpOut;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}
:global(.slide-up-enter.slide-up-enter-active.select-dropdown-placement-topLeft),
:global(.slide-up-appear.slide-up-appear-active.select-dropdown-placement-topLeft) {
  -webkit-animation-name: rcSelectDropdownSlideDownIn;
          animation-name: rcSelectDropdownSlideDownIn;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}
:global(.slide-up-leave.slide-up-leave-active.select-dropdown-placement-topLeft) {
  -webkit-animation-name: rcSelectDropdownSlideDownOut;
          animation-name: rcSelectDropdownSlideDownOut;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

@keyframes rcSelectDropdownSlideUpIn {
  0% {
    opacity: 0;
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  100% {
    opacity: 1;
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}
@keyframes rcSelectDropdownSlideUpOut {
  0% {
    opacity: 1;
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  100% {
    opacity: 0;
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
}

@keyframes rcSelectDropdownSlideDownIn {
  0% {
    opacity: 0;
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  100% {
    opacity: 1;
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@keyframes rcSelectDropdownSlideDownOut {
  0% {
    opacity: 1;
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  100% {
    opacity: 0;
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
}
